@media screen and (max-width: 1110px){
  nav #logo {
    width: 80px;
    height: 80px;
  }
  nav .upperItems a{
    padding: 9px 5px 9px 0;
  }
  header p{
  font-size: 60px;
  color: #f46352;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 30px
}

header p:nth-child(2){
  font-size: 60px;
  color: rgba(255, 0, 0, 1);
  letter-spacing: 1px
}
header p:nth-child(3){
  font-size: 45px;
  color: #4c4c4c;
}
header .circle{
  width: 80px;
  height: 80px;
}
header .circle:nth-child(2)
{
    background-size: 81px 80px;

}

    }
@media screen and (min-width: 930px){
  header .icons{
      margin-top: -10px;
    }
}
@media screen and (max-width: 930px){
  .brand {
    font-size: 20px;
    }
.brand span{
  font-size: 25px;
}
header .wrap {
  padding-top: 1%;
    }
header p{
  font-size: 55px;
}

header p:nth-child(2){
  font-size: 45px;

}
header p:nth-child(3){
  font-size: 35px;
}
header .circle{
  width: 60px;
  height: 60px;
  box-shadow: none
}
header .circle:nth-child(2){
    background-size: 60px 60px;

}

#main #tab1{
  padding: 20px 40px;
  font-size: 16px
}

  }
@media screen and (min-width: 768px){
 #tab5{
  padding-top: 100px
 }
}

@media screen and (max-width: 768px){
  nav {
  height: 70px;
  line-height: 52px;
    }
  nav .upperItems{
    display: none;
  }
nav #logo{
  width: 65px;
  height: 65px;
  margin-left: 10%;
  margin-top: 15px;
  }
#nav-toggle{
  display: block
}
nav .menu{
  z-index:1000000;
  font-weight:bold; 
  font-size: .9em; 
  width:100%;
  overflow: scroll;
  background: rgba(0, 0, 0, 1);  
  position: absolute;
  text-align: center;
  top: 70px;
  left: 0;
 box-shadow:inset 2px -3px 75px #240000;
}
.brand {
  font-size: 25px;
    line-height: 37px;
}

.menu li {
  display: block;   
/*  padding: 10px 0 10px 0; */
  border-bottom:#fff 1px solid;
}
.menu li:last-child {
  border-bottom: none;
}
.menu ul li a { 
  text-decoration:none;  
  margin: 0px; 
  color: #fff; 
  text-transform: uppercase;
  letter-spacing: 1px
}
header{
 /* height: auto;*/
  margin-top: 0px;
}
header .wrap {
    padding-top: 2%;
    }
header p{
  font-size: 55px;
  color: #f46352;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 30px
}

header p:nth-child(2){
  font-size: 40px;
  color: rgba(255, 0, 0, 1);
  letter-spacing: 1px
}
header p:nth-child(3){
  font-size: 35px;
  color: #4c4c4c;
}
header .circle{
  width: 60px;
  height: 60px;
  box-shadow: none
}
header .circle:nth-child(2){
    background-size: 60px 60px;

}
  #main{
  height: auto;
}

#product .item1{
  font-size: 20px;
}

#pics,
#pics #tab3{
  height: auto;
}
/*#pics #tab3{
  padding-left: 5%
}*/

#myBtn {
    width: 60px;
    height: 60px;
}

}

@media screen and (max-width: 576px){
nav #logo{
  width: 60px;
  height: 60px;
  margin-left: 10%;
  }
nav .menu{
  font-size:1em;
  margin-top: -10px;
}
header #head{
  line-height: 9rem;
}

header p{
  font-size: 55px;
  /*color: orange;*/
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 20px;
  margin-bottom: auto;
}
header p:nth-child(2){
  font-size: 53px;
}
header p:nth-child(3){
  font-size: 35px;
  }
header .circle{
  display: none
      }
header .low{
   font-size: 18px
  }
header .low span{
   font-size: 23px
  }
header .icons{
      margin-top: -10px;
    }

#product .item1 p{
  font-size: 20px;
}
#product .itemTxt{
  font-size: 18px;
}

.sliderSubTitle{
  font-size: 15px;
}
#myBtn {
    width: 60px;
    height: 60px;
}
/*#tab5{
  font-size: 1.6em;

}*/
}



@media screen and (max-width: 375px){
  header p{
  font-size: 3.8em;
  font-weight: 900;
}
header p:nth-child(2){
  font-size: 3.5em;
}
header p:nth-child(3){
  letter-spacing: 1px
  font-size: 3.5em;
  }
.sliderSubTitle {
  font-size: 12px;

}
}
